.footer {
    background: #0E1D28;
    padding: 119px 0;
    margin-bottom: 800px;
}

.footer__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__logo {
    width: 170px;
    height: 64px;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%
}

.footer__menu-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.footer__menu-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
}

.footer__menu-link:focus,
.footer__menu-link:active,
.footer__menu-link:hover {
    opacity: .55;
}