@media screen and (max-width: 960px) {
    .search-form_field {
        margin-bottom: 25px;
    }

    .benefits_cards {
        padding: 0 15px;
        grid-column-gap: 35px;
    }

    .benefits_card {
        margin-bottom: 60px;
    }

    .benefits_title {
        padding: 55px 15px;
    }

    .benefits_wrap {
        box-shadow: none;
    }

    .benefits {
        margin-bottom: 75px;
    }

    .places_card_size_lg {
        grid-column: span 6;
    }

    .places_card_size_sm {
        grid-column: span 6;
    }

    .tours_tour {
        grid-column-gap: 35px;
    }

    .tour_info {
        padding-left: 0;
    }

    .tour_title {
        margin-bottom: 15px;
    }

    .tour_desc {
        margin-bottom: 15px;
    }

    .top_cards {
        grid-column-gap: 25px;
        grid-row-gap: 55px;
    }

    .top_card {
        grid-column: span 3;
    }

    .top_card-pic {
        margin-bottom: 20px;
    }

    .footer {
        padding: 60px 0;
    }
}





@media screen and (max-width: 767px) {

    .section-title {
        margin-bottom: 25px;
    }

    .section-title::after {
        width: 78px;

    }

    .header__wrapper {
        padding-top: 2px;
    }

    .header__burger {
        display: block;
    }

    .header__nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 10;
        padding: 75px;
        transition: .2s all linear;
        transform: translateX(100%);

    }

    .header__nav_active {
        transform: translateX(0);
    }

    .header__item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;


    }

    .header__item:last-child {
        margin-bottom: 0;
    }

    .header__link {
        font-style: 42px;
        line-height: 48px;
    }

    .header__nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }

    .header__nav-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;


    }

    .header__nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }


    .header__nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }

    .intro {
        padding-top: 125px;
    }

    .intro_title {
        font-size: 32px;
        line-height: 48px;
    }

    .intro_subtitle {
        font-style: 14px;
    }

    .search-form_field {
        margin-right: 0;
        width: 100%;
        padding-bottom: 12px;
    }

    .search-form_field::placeholder {
        font-style: 16px;

    }

    .search-form_submit {
        width: 100%;
    }

    .benefits {
        margin-bottom: 36px;
    }

    .benefits_card {
        grid-column: span 3;
        margin-bottom: 40px;
    }

    .benefits_card-pic {
        margin-bottom: 20px;
    }

    .benefits_card-title {
        margin-bottom: 10px;
    }

    .benefits_card-desc {
        margin-bottom: 20px;
    }

    .places {
        margin-bottom: 76px;
    }

    .places_card-pic-size-lg,
    .places_card-pic-size-sm {
        height: 230px;
    }

    .tours {
        margin-bottom: 76px;
    }

    .tour_pic,
    .tour_info {
        grid-column: span 2;
    }

    .tour_pic {
        margin-bottom: 12px;

    }

    .tour__pic-mob-first {
        grid-row-start: -1;
    }

    .tours_tour {
        margin-bottom: 50px;
    }

    .top_title {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .top_card {
        grid-column: span 6;
    }

    .top_card-desc {
        margin-bottom: 15px;
    }

    .footer__logo {
        width: 50%;
        margin-bottom: 50px;
    }

    .footer__nav {
        width: 100%;

    }

    .footer__menu {
        width: 50%;
        margin-bottom: 25px;
    }

    .footer__menu-title {
        margin-bottom: 10px;
        font-size: 20px;
    }

    .footer__menu-link {
        font-size: 12px;
    }
}


@media screen and (max-width: 500px) {
    .header__nav {
        padding: 75px 30px;
    }
}