/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/lato-v22-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v22-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/lato-v22-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v22-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local(''),
    url('../fonts/lato-v22-latin-900.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v22-latin-900.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: black;

}

.item {
  width: 200px;
  height: 100px;
  background-color: green;
  padding: 20px;
}

.img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;

}

.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px;
}

.section-title::after {
  display: block;
  content: "";
  width: 253px;
  height: 3px;
  background-color: #006DFE;
  position: absolute;
  bottom: 0;
  left: 0;
}

/*header styles start*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: .2s linear;
  padding: 40px 0;
  
  z-index: 999;
}
.header__active{
  background: #0E1D28;

}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;


}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 82px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: .75;
}
.header__burger{
  display: none;
  width: 40px;
  height: 28px;
  position: relative;
}
.burger__line{
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
}
.burger__line-first{
  top: 0;
}
.burger__line-second{
  top: 50%;
  transform: translateY(-50%);
}
.burger__line-third{
  bottom: 0;
}

/*header styles end*/

/*intro styles start*/

.intro {
  min-height: 100vh;
  background: url(../img/intro_bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 263px;
  padding-bottom: 223px;
}

.intro_title {
  max-width: 619px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: white;
  margin-bottom: 22px;

}

.intro_subtitle {
  max-width: 546px;
  color: white;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 59px;
}

.search-form_info {
  display: flex;
  flex-wrap: wrap;

}

.search-form_field {
  width: 297px;
  background: transparent url(../img/svg/circle-ico.svg)no-repeat left 7px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.search-form_field::placeholder {
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.search-form_submit {
  padding: 15px 39px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  color: white;
  background: #1B7DFF;
  border: 0;
}

.search-form_submit:hover,
.search-fom_submit:focus,
.search-form_submit:active {
  background: #0a4696;
}

/*intro styles end*/

/*benefit_styles_start*/
.benefits {
  margin-bottom: 131px;
}

.benefits_wrap {
  max-width: 1262px;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;

}

.benefits_title {
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: white;
}

.benefits_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 55px;
  padding: 0 100px;
}

.benefits_card {
  grid-column: span 1;
  margin-bottom: 112px;
}

.benefits_card-pic {
  max-width: 66px;
  margin-bottom: 37px;

}

.benefits_card-thumb {
  display: block;
}

.benefits_card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}

.benefits_card-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}

.benefits_card-more {
  display: inline block;
  padding-right: 59px;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  text-decoration: none;
  background: url(../img/svg/arrow-write-icon.svg) no-repeat 95% center;
  transition: .2s all;
}

.benefits_card-more:hover,
.benefits_card-more :focus {
  background: url(../img/svg/arrow-write-icon.svg) no-repeat right center;
}

/*benefit_styles_end*/
/*places stile start*/
.places {
  margin-bottom: 131px;
}

.places_caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.places_title {
  margin-right: 15px;
}

.places_view-all {
  font-size: 16px;
  color: #006DFE;
  text-decoration: none;
  background: url(../img/svg/arrow-write-icon.svg) no-repeat right center;
  ;
  padding-right: 59px;

}

.places_view-all:hover,
.places_view-all :focus {
  opacity: .65;
}

.places_cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.places_card {
  position: relative;
  overflow: hidden;

}

.places_card:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}


.places_card:hover .places_card-pic {
  transform: scale(1.05);
}


.places_card-title {
  font-size: 50px;
  line-height: 60px;
  color: white;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}


.places_card_size_lg {
  grid-column: span 3;
}

.places_card_size_sm {
  grid-column: span 2;
}

.places_card-pic {

  width: 100%;
  transition: .15s all;
}

.places_card-pic-size-lg {
  height: 354px;
  object-fit: cover;
}

.places_card-pic-size-sm {
  height: 283px;
  object-fit: cover;
}

.places_card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

/*places stile end*/

/*Tours style start*/

.tours {
  margin-bottom: 139px;

}

.tours_tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 108px;
  align-items: center;
  margin-bottom: 77px;
}

.tour_info {
  padding-left: 47px;
}

.tour_title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 85px;
}

.tour_desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 58px;
}

.tour_more {
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  background: url(../img/svg/arrow-write-icon.svg) no-repeat right center;
  text-decoration: none;
  padding-right: 59px;
}

.tour_more:hover,
.tour_more-all :focus {
  opacity: .65;
}

/*Tours stile end*/

/*Top style start*/

.top {
  margin-bottom: 86px;
}

.top_title {
  margin-bottom: 54px;

}

.top_cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 57px;
}


.top_card-pic {
  position: relative;
  margin-bottom: 45px;
}

.top_card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin: 0 auto 0 0;

}
.top_card{
  display: flex;
  flex-direction:column;
  grid-column: span 2;
}

.top_card-stats {
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(21, 24, 36, 0.6);
  padding: 16px 25px;

}

.top_card-likes {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-right: 25px;
  background: url(../img/svg/Heart-ico.svg) no-repeat right;
  margin-right: 14px;
}

.top_card-comments {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-right: 23px;
  background: url(../img/svg/comment-ico.svg) no-repeat right;
}

.top_card-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 31px;
}

.top_card-more{
  width: 118px;
  padding: 12px 19px;
  background: #006DFE;
  text-decoration: none;
  color:#fff;
  font-size: 16px;
  margin: auto 0 0 0;

}
.top_card-more:hover, .top_card-more:active, .top_card-more:focus{
  background: #0a4696;
}
/*Top style end/*
/*videos start*/

.videos{
  width: 100%;
}
.videos_wrapper{
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.video_item{
  padding-top: 56.25%;
}
.video__element{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
/*videos end*/

/*footer start*/


/*footer end*/

